{{page-title "Project"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!--
<WelcomePage /> --}}

<div class="online-class">
    <div class="header">
        <h3 class="text-center">Online Status</h3>
    </div>
    <div class="block-1 card">
        <div class="img-block">
            {{!-- <img src="users/5d16014c3dc18900699cb9d9/image-2729c8d7875dc840b42ccfb9be86e84f.png?Expires=1625386246&Key-Pair-Id=APKAISZ5D7DBUW5HTH7A& Signature=gZiPFee4C9rx89nmvKuSiNqF9yXtIjAd87cZxmeBw7DIMNMk62eJiP1tS9CUP20G0mJ9erY0874K8TS4t0z3VoQvZUB~hwypRIqCqD3hqRYARockQBGUsuT4Wk1rVqVg9CfvxZGVKdbj4ydPjiA3KfDd1ADjdPO8GV3bTgrNwdetA2wOXLXu0b4QSeub85rSXYjkLhlAW4XbDUMKklw8NJaqQYfTKe37C1M-lwpTa~Mrk2rSfbKfhPr9v4CBNe8z4eLy0EiWehD0OZllddeSmyx3vyp6bxlX6CdroLO4rukGoZgLQHtk5PZDybk5dYCs15EvNOPF0gkuI2vIWF33uw" alt="GeoVTC Image"> --}}
            <img src="https://media.freestocktextures.com/cache/38/af/38af355b1399c7a5c1558eb7f90d86bc.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>GeoVTC</h6>

                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>

                {{!-- <p>Presentation of the company</p>
                <p>Created in 2019, GeoVTC is active in the IT sector related to the VTCs field. This company is located in Paris. Since 2019, it is headed by Richard Yi.</p>
                <h6>Key figures</h6>
                <p> Learn more about the <a href="https://help.october.eu/en/articles/3564000-understanding-key-financial-figures">key financial ratios</a>
                used in the project's credit analysis.</p>
                <h6>Project description</h6>
                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity. This project will be realised in the coming months and the project description is based on the company's input.</p>
                <p>This project is an Instant Project and the French State supports this company with a guarantee: the principal is guaranteed up to 90%. If the company cannot repay the loan, the State will partially reimburse the lenders on behalf of the company. This State-guaranteed loan is initially a 12-month deferred loan with payment of interest (2%) and principal at the end of the loan. After 12 months, the borrower can (partially) repay the loan. Otherwise, the borrower will repay the loan over a period of 1 to 5 years. A new interest rate of 5.41% will then be applied. </p>
                <h6>Analyst’s opinion</h6>
                <p>This project is an In… compliance checks.</p> --}}
            </div>
            <div class="col-4">
                <h4>2%</h4>
                <p>12 Months - € 22.000 </p>
                <p>C- </p>
            </div>
            <div class="col-3 text-right">
                <p>Full Bullet</p>
                <p>12</p>
            </div>
        </div>

    </div>

    <div class="block-1 card">
        <div class="img-block">
            <img src="https://c.stocksy.com/a/8SC300/z9/762856.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>Experience Advisory</h6>
                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
            </div>
            <div class="col-4">
                <h4>2%</h4>
                <p>12 Months - 20000 </p>
                <p>C- </p>
            </div>
            <div class="col-3 text-right">
                <p>Full Bullet</p>
                <p>12</p>
            </div>
        </div>

    </div>

    <div class="block-1 card">
        <div class="img-block">
            <img src="https://previews.123rf.com/images/avgustus/avgustus1908/avgustus190802466/128525230-fashion-oil-painting-style-abstract-texture-background-messy-strokes-and-splashes-on-canvas.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>Program-ID</h6>
                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
            </div>
            <div class="col-4">
                <h4>2%</h4>
                <p>12 Months - 20000 </p>
                <p>C- </p>
            </div>
            <div class="col-3 text-right">
                <p>Full Bullet</p>
                <p>12</p>
            </div>
        </div>

    </div>

    <div class="block-1 card">
        <div class="img-block">
            <img src="https://textures.world/wp-content/uploads/2018/10/27-Painted-Wall-Background-Texture-scaled.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>Pirotte Et Associés</h6>
                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
            </div>
            <div class="col-4">
                <h4>2%</h4>
                <p>12 Months - 20000 </p>
                <p>C- </p>
            </div>
            <div class="col-3 text-right">
                <p>Full Bullet</p>
                <p>12</p>
            </div>
        </div>

    </div>

    <div class="block-1 card">
        <div class="img-block">
            <img src="https://media.freestocktextures.com/cache/38/af/38af355b1399c7a5c1558eb7f90d86bc.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>De Koning Interieur</h6>
                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
            </div>
            <div class="col-4">
                <h4>2%</h4>
                <p>12 Months - 20000 </p>
                <p>C- </p>
            </div>
            <div class="col-3 text-right">
                <p>Full Bullet</p>
                <p>12</p>
            </div>
        </div>

    </div>

    <div class="block-1 card">
        <div class="img-block">
            <img src="https://c.stocksy.com/a/8SC300/z9/762856.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>Movilex Recycling Group</h6>
                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
            </div>
            <div class="col-4">
                <h4>2%</h4>
                <p>12 Months - 20000 </p>
                <p>C- </p>
            </div>
            <div class="col-3 text-right">
                <p>Full Bullet</p>
                <p>12</p>
            </div>
        </div>

    </div>

    <div class="block-1 card">
        <div class="img-block">
            <img src="https://previews.123rf.com/images/avgustus/avgustus1908/avgustus190802466/128525230-fashion-oil-painting-style-abstract-texture-background-messy-strokes-and-splashes-on-canvas.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>Autolinie</h6>
                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
            </div>
            <div class="col-4">
                <h4>2%</h4>
                <p>12 Months - 20000 </p>
                <p>C- </p>
            </div>
            <div class="col-3 text-right">
                <p>Full Bullet</p>
                <p>12</p>
            </div>
        </div>

    </div>

    <div class="block-1 card">
        <div class="img-block">
            <img src="https://media.freestocktextures.com/cache/38/af/38af355b1399c7a5c1558eb7f90d86bc.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>De Koning Interieur</h6>
                <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
            </div>
            <div class="col-4">
                <h4>2%</h4>
                <p>12 Months - 20000 </p>
                <p>C- </p>
            </div>
            <div class="col-3 text-right">
                <p>Full Bullet</p>
                <p>12</p>
            </div>
        </div>
    </div>

</div>

<div class="completed-class">
    <div class="header">
        <h3 class="text-center">Completed Status</h3>
    </div>
    </div>

<div class="form-row">
  <div class="form-group col-md-6">
        <div class="block-1 card">
            <div class="img-block">
            <img src="https://c.stocksy.com/a/8SC300/z9/762856.jpg" height="250px" width="100%">
            </div>
            <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>De Stacaravan Company</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>

        </div>
        </div>
<div class="form-group col-md-6">
    <div class="block-1 card">
        <div class="img-block">
            <img src="https://previews.123rf.com/images/avgustus/avgustus1908/avgustus190802466/128525230-fashion-oil-painting-style-abstract-texture-background-messy-strokes-and-splashes-on-canvas.jpg" height="250px" width="100%">
        </div>
         <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>Interieurbouw Koning</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>

    </div>
    </div>
    </div>

<div class="form-row">
  <div class="form-group col-md-6">
    <div class="block-1 card">
            <div class="img-block">
            <img src="https://media.freestocktextures.com/cache/38/af/38af355b1399c7a5c1558eb7f90d86bc.jpg" height="250px" width="100%">
            </div>
            <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>Wep'D</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <div class="block-1 card">
        <div class="img-block">
            <img src="https://c.stocksy.com/a/8SC300/z9/762856.jpg" height="250px" width="100%">
            </div>
        <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>Podobrace</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>
    </div>
    </div>
    </div>

<div class="form-row">
  <div class="form-group col-md-6">
    <div class="block-1 card">
            <div class="img-block">
            <img src="https://previews.123rf.com/images/avgustus/avgustus1908/avgustus190802466/128525230-fashion-oil-painting-style-abstract-texture-background-messy-strokes-and-splashes-on-canvas.jpg" height="250px" width="100%">
            </div>
            <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>Dc2Scale</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>
        </div>
    </div>
  <div class="form-group col-md-6">
    <div class="block-1 card">
            <div class="img-block">
            <img src="https://media.freestocktextures.com/cache/38/af/38af355b1399c7a5c1558eb7f90d86bc.jpg" height="250px" width="100%">
            </div>
            <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>CBM Consulting</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>
        </div>
        </div>
</div>
 
<div class="form-row">
  <div class="form-group col-md-6">
    <div class="block-1 card">
            <div class="img-block">
            <img src="https://c.stocksy.com/a/8SC300/z9/762856.jpg" height="250px" width="100%">
            </div>
            <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>Cigc Batiment</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>
        </div>
</div>
  <div class="form-group col-md-6">
    <div class="block-1 card">
            <div class="img-block">
            <img src="https://previews.123rf.com/images/avgustus/avgustus1908/avgustus190802466/128525230-fashion-oil-painting-style-abstract-texture-background-messy-strokes-and-splashes-on-canvas.jpg" height="250px" width="100%">
            </div>
            <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>BB Holding Heesch</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>
        </div>
  </div>
</div>


    <div class="block-1 card">
            <div class="img-block">
                <img src="https://textures.world/wp-content/uploads/2018/10/27-Painted-Wall-Background-Texture-scaled.jpg" height="250px" width="100%">
            </div>
            <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>Business Excellence 360 France</h6>
                    <p>The company requests 22.000 € to ensure its continuity following the impact of the COVID-19 crisis on its activity.</p>
                </div>
                <div class="col-4">
                    <h4>2%</h4>
                    <p>12 Months - 20000 </p>
                    <p>C- </p>
                </div>
                <div class="col-3 text-right">
                    <p>Full Bullet</p>
                    <p>12</p>
                </div>
            </div>
            </div>

{{outlet}} 